@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* Fundo claro */
    --foreground: 240 10% 3.9%; /* Texto escuro */
    --card: 0 0% 100%; /* Fundo do card */
    --card-foreground: 240 10% 3.9%; /* Texto do card */
    --popover: 0 0% 100%; /* Fundo do popover */
    --popover-foreground: 240 10% 3.9%; /* Texto do popover */
    --primary: 240 5.9% 10%; /* Cor primária */
    --primary-foreground: 0 0% 98%; /* Texto primário */
    --secondary: 240 4.8% 95.9%; /* Cor secundária */
    --secondary-foreground: 240 5.9% 10%; /* Texto secundário */
    --muted: 240 4.8% 95.9%; /* Texto mutado */
    --muted-foreground: 240 3.8% 46.1%; /* Fundo mutado */
    --accent: 240 4.8% 95.9%; /* Acento */
    --accent-foreground: 240 5.9% 10%; /* Texto acentuado */
    --destructive: 0 84.2% 60.2%; /* Vermelho de alerta */
    --destructive-foreground: 0 0% 98%; /* Texto de alerta */
    --border: 240 5.9% 90%; /* Borda */
    --input: 240 5.9% 90%; /* Fundo do input */
    --ring: 240 10% 3.9%; /* Anel de foco */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem; /* Bordas arredondadas */
  }

  .dark {
    --background: 240 10% 3.9%; /* Fundo escuro */
    --foreground: 0 0% 98%; /* Texto claro */
    --card: 240 10% 3.9%; /* Fundo do card escuro */
    --card-foreground: 0 0% 98%; /* Texto do card claro */
    --popover: 240 10% 3.9%; /* Fundo do popover escuro */
    --popover-foreground: 0 0% 98%; /* Texto do popover claro */
    --primary: 0 0% 98%; /* Branco para elementos primários */
    --primary-foreground: 240 5.9% 10%; /* Texto primário escuro */
    --secondary: 240 3.7% 15.9%; /* Cor secundária escura */
    --secondary-foreground: 0 0% 98%; /* Texto secundário claro */
    --muted: 240 3.7% 15.9%; /* Fundo mutado escuro */
    --muted-foreground: 240 5% 64.9%; /* Texto mutado claro */
    --accent: 240 3.7% 15.9%; /* Fundo acentuado escuro */
    --accent-foreground: 0 0% 98%; /* Texto acentuado claro */
    --destructive: 0 62.8% 30.6%; /* Vermelho para alerta */
    --destructive-foreground: 0 0% 98%; /* Texto de alerta claro */
    --border: 240 3.7% 15.9%; /* Borda escura */
    --input: 240 3.7% 15.9%; /* Fundo do input escuro */
    --ring: 240 4.9% 83.9%; /* Anel de foco claro */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}